
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight:900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white    ;
}


/* main styles */

header{
    background-color: #FFF8F3;
}

nav{
    width: 75%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
}

.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}